@import "./abstracts/variables";

@import "./base/typography";

@import "./layout/header";

@import "./components/button";

@import "./base/utilities";

@import "./layout/navbar";

@import "./layout/section-info";

//================================================

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    // Defines what 1rem equals
    font-size: 10px;
}

