@import "./abstracts/variables";

@import "./abstracts/mixins";

@import "./base/typography";

@import "./layout/header";

@import "./components/button";

@import "./base/utilities";

@import "./layout/navbar";

@import "./layout/section-info";

@import "./layout/section-features";

@import "./layout/section-info2";

@import "./layout/footer";

//================================================

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    // overflow-y: hidden;
}

html{
    // Defines what 1rem equals
    font-size: 62.5%;

    @include respond(tab_land){  // width < 1200?
        font-size: 56.25%;   // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab_port){  //width < 900?
        font-size: 50%;      // 1rem = 8px, 8/16 = 50% 
    }

    @include respond(big_desktop){
        font-size: 75%;     // 1rem = 12px, 12/16 = 75%
    }
}

.hide{
    display: none;
}

