body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #7C7070;
}

.header_primary {
  font-size: 3.3rem;
  font-weight: 600;
}

.header_secondary {
  color: #7C7070;
  font-weight: 600;
  font-size: 2.5rem;
}

.paragraph {
  font-size: 1.8rem;
}

header {
  position: relative;
  height: 90vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 195, 0, 0.9)), to(rgba(255, 0, 69, 0.9))), url("/imgs/bg-pattern-intro.svg");
  background-image: linear-gradient(to right bottom, rgba(255, 195, 0, 0.9), rgba(255, 0, 69, 0.9)), url("/imgs/bg-pattern-intro.svg");
  background-size: 200rem;
  background-position: top;
  background-position-y: center;
  border-bottom-left-radius: 10rem;
}

header .hero-text_box {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .hero-text_box .hero-header_primary {
  color: #EEEEEE;
  display: block;
  font-weight: 500;
  font-size: 5rem;
  text-align: center;
}

header .hero-text_box .hero-header_secondary {
  color: #EEEEEE;
  display: block;
  text-transform: lowercase;
  letter-spacing: .5rem;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

header .btn-box {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 2rem;
  left: 50%;
}

header .btn-box_cta {
  margin-right: 2rem;
}

.btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn_white {
  color: #ff7b00;
  background-color: #EEEEEE;
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.7rem;
}

.btn_white:hover {
  background-color: #3d3d3d;
  color: #FFC300;
}

.btn_white_secondary {
  border: solid 0.3rem #EEEEEE;
  background-color: rgba(238, 238, 238, 0);
  color: #EEEEEE;
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.7rem;
}

.btn_white_secondary:hover {
  background-color: rgba(238, 238, 238, 0.2);
}

.u_center_text {
  text-align: center;
}

.u_mb_sm {
  margin-bottom: 1.5rem;
}

.u_mb_md {
  margin-bottom: 4rem;
}

.u_mb_lg {
  margin-bottom: 8rem;
}

.logo {
  margin-left: 10rem;
  cursor: pointer;
  height: 2.9rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 1rem;
}

nav .nav_links {
  margin-right: auto;
  margin-left: 7rem;
  list-style: none;
}

nav .nav_links li {
  display: inline-block;
  padding: 0 2rem;
}

nav .nav_links_items {
  color: #EEEEEE;
  font-size: 1.8rem;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

nav .nav_links_items i {
  font-size: 1.3rem;
}

nav .nav_links_items:hover {
  color: #3d3d3d;
}

nav .acc-box {
  margin-right: 10rem;
}

nav .acc-box .login {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border-radius: 3rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

nav .acc-box .login:hover {
  color: #3d3d3d;
}

nav .acc-box .signup {
  color: #ff7b00;
  background-color: #EEEEEE;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 3rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

nav .acc-box .signup:hover {
  background-color: #3d3d3d;
  color: #FFC300;
}

.section-info {
  position: relative;
  margin: 0rem 10rem;
}

.section-info_image {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  height: 60rem;
  left: 77%;
  top: 58%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-info_header {
  background: -webkit-gradient(linear, left top, right top, from(#FFC300), to(#FF0045));
  background: linear-gradient(to right, #FFC300, #FF0045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  color: #515150;
  margin-top: 15rem;
  margin-bottom: 9rem;
}

.section-info_subheader {
  color: #515150;
  margin: 2rem 0rem;
}

.section-info_paragraph {
  margin-bottom: 7rem;
}

.section-info_grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "col1 col2";
}

.section-info_grid .info_col-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: col1;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.section-info_grid .info_col-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: col2;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}
/*# sourceMappingURL=main.css.map */