.unfocus_bg{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.6%);
    backdrop-filter: blur(0.3rem);
    z-index: 1000;
}

.mobile_nav{

    & ul{
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        list-style-type: none;
    }
}