.section-info{
    position: relative;
    margin: 0rem 15rem;

    &_image{
        position: absolute;
        height: 80rem;
        left: 100%;
        top: 65%;
        transform: translate(-50%, -50%);
    }

    &_header{
        text-align: center;
        color: $color-lightGrey-2;
        margin-top: 15rem;
        margin-bottom: 9rem;
    }

    &_subheader{
        color: $color-lightGrey-2;
        margin: 2rem 0rem;
    }

    &_paragraph{
        

    }

    // ============================================
    // GRID SPECIFICATIONS
    // ============================================

    &_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-template-areas: "col1 col2";

        .info_col-1{
            grid-area: col1;
            grid-template-rows: 1fr 1fr;

            &_row-1{

            }

            &_row-2{

            }

        }

        .info_col-2{
            grid-area: col2;

        }
    }
}



