.section-info{
    position: relative;
    margin: 0rem 10rem;

    &_image{
        position: absolute;
        object-fit: contain;
        height: 67rem;
        left: 80%;
        top: 58%;
        transform: translate(-50%, -50%);
    }

    &_header{
        background: linear-gradient(to right, $color-orange, $color-red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        color: $color-lightGrey-2;
        margin-top: 15rem;
        margin-bottom: 9rem;
    }

    &_subheader{
        color: $color-lightGrey-2;
        margin: 2rem 0rem;
    }

    &_paragraph{
        // fix this later because i dont want margin at the bottom of
        // both paragraphs, only the first one.
        margin-bottom: 7rem;

    }

    // ============================================
    // GRID SPECIFICATIONS
    // ============================================

    &_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-template-areas: "col1 col2";

        .info_col-1{
            grid-area: col1;
            grid-template-rows: 1fr 1fr;
            margin-right: 10rem;

            &_row-1{

            }

            &_row-2{

            }

        }

        .info_col-2{
            grid-area: col2;

        }
    }
}



